/* line 1, C:/Users/ANDRES RIVERA/Documents/BCR_Mobile_Archetype/scss/menu/menu.scss */
ion-side-menu {
  background: black !important;
}

/* line 6, C:/Users/ANDRES RIVERA/Documents/BCR_Mobile_Archetype/scss/menu/menu.scss */
.item {
  background: transparent;
  color: white;
  border: 0;
}

/* line 12, C:/Users/ANDRES RIVERA/Documents/BCR_Mobile_Archetype/scss/menu/menu.scss */
.item-complex .item-content, .item-radio .item-content {
  background-color: transparent;
  color: white;
}

/* line 17, C:/Users/ANDRES RIVERA/Documents/BCR_Mobile_Archetype/scss/menu/menu.scss */
.skype {
  width: 100%;
  height: 100%;
  /* background: red; */
  background-size: cover;
  background-image: url(../../img/tumblr_nm71f8AQf21s49veho1_500.jpg);
  position: absolute;
  background-position-x: -7rem;
  opacity: 1;
}
