ion-side-menu {

    background: black !important;
}

.item {
   background-color: transparent;
   color: white;
   border: 0;
}


.item-complex .item-content, .item-radio .item-content{
    background-color: transparent;   
    color: white;  
}

.skype {
    width: 100%;
    height: 100%;
    /* background: red; */
    background-size: cover;
    background-image: url(../img/tumblr_nmaqmneyzH1so8z5lo1_400.gif);
    position: absolute;
    background-position-x: -7rem;
    opacity: 1;
    top: 0;
}

.logoMenu {
    width: 100%;
    background: transparent;
    position: relative;
    z-index: 10;
    text-align: center;
    padding: 1rem;


    img {
        width: 100%;
        opacity: .5;
    }
}


